{% extends 'base.html' %}
{% block title %}Accessing Data{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Accessing ACE data</h1>
    </div>

    <div class="header">
        <h2>Introduction</h2>
        <p>All of the data produced during the cruise (by scientists and by the ship) are being stored on central servers, so that they are safely backed up and can be stored at the Swiss Polar Institute on a long-term basis after the cruise.</p>
        In addition to this, some supporting data from external sources such as weather forecasts and bathymetry data are also available FOR USE DURING THE CRUISE. Note that a lot of these additional datasets have strict licenses that must be adhered to.

        <p>You are able to access all of these data by following some simple steps in the section, Data Access, below.</p>
    </div>

    <div class="header">
        <h2>Data areas</h2>
        <p>Below are descriptions of the different data areas:</p>

        <p><b>ace_data</b>  - <i>read only</i> - all data collected on board the cruise are stored and backed up here. Organised by instrument.</p>
        <p><b>external_data</b> - <i>read only</i> - data from external sources that is of interest to parties on board. Includes terrain maps, satellite images and bathymetry of the islands we will visit.</p>
        <p><b>intranet_documents</b> - <i>read only</i> - a collection of useful and interesting documents. If you would like anything adding here, please speak to the Data Management team.</p>
        <p><b>ship_data</b> - <i>read only</i> - data streams that come from ship-based instruments: navigation (GPS), weather, multibeam, ADCP. Some of these are still to be added (26/12/2016).</p>
        <p><b>work_leg1</b> - <i>read and write</i> - please use this area to save things on which you are working that are related to the cruise, and that you would like backed up. Please put things in a folder named after your project, eg. project11, so we know to whom it belongs. THIS FOLDER WILL BE STORED PERMANENTLY FOLLOWING THE CRUISE SO PLEASE CONSIDER CAREFULLY WHAT YOU STORE HERE. This area is also accessible by everyone so do not store any personal information here. <br>PHOTOS - If you would like to share your photos, please create a folder with your full name as the title and put this inside the photos directory. This is really important so people can give you acknowledgement for your images if they are re-used.</br></p>

    </div>

    <div class=header">
        <h2>Data access</h2>
        <p>Connect to the ship's network using an ethernet cable. All cabins are connected to the network, as are some labs. If for some reason you find an ethernet port does not work, please report it to the Data Management team with the room and port number, i.e. Room 336, port XS30/BT.

        <p>You should now have access to the ACE intranet as well as the data storage area.</p>


        </p>
        <h3>Linux</h3>
        <p>The data storage is accessible using SAMBA/CIFS protocol and the hostname is storage.lan.</p>
        <p>It could be accessed using the application Dolphin or mounting it:</p>
        <pre>
            mkdir /mnt/ace_data # this is needed only once
            sudo mount -t cifs //storage.lan/ace_data /mnt/ace_data</pre>


        <p>Come and see the Data Management team if you have problems - each Linux distribution will be a bit different.</p>

        <h3>Windows</h3>
        Click on start and run, then type: \\storage.lan - this will take you to the set of folders. To avoid having to do this each time you want to access the folder, right-click on the C:/drive in Windows Explorer and click on "Map network drive". Type \\storage.lan\ and select the folder you want to map and a drive from the drop-down list (you have to choose one that is not already assigned). This should now appear in the left-hand side menu.

        <h3>Mac</h3>
        <p>Go to Finder (on the Mac toolbar usually the left icon). Open the menu "Go" and then "Connect to server".</p>
        <p>Type smb://storage.lan and you can add this to a list of favourites by clicking on the + button next to where you enter this address. Select whichever area you need and double click: it will open in the file browser.</p>

        <p>**If you need any help please pop along to the Expedition Office at any time. We sometimes have chocolates....**</p>
    </div>

    <div class="header">
        <h2>External data - a little more information</h2>
    </div>
    <div class="header">
        <h3>Satellite data</h3>
        <p>Sea surface temperature (SST), chlorophyll (chl) and sea-ice data are provided on a daily basis.</p>

        <p><b>Data sources</b>: Oceancolor (NASA), MODIS (sent by Rafel Simó - thanks Rafel!)</p>

        <h3>Bathymetry and terrain maps of islands</h3>
        <p>You will find a set of bathymetry data, satellite images and terrain maps for the island work. These are generally sorted by the island names, but for larger providers, there could be data for different areas within the provider name (eg. GEBCO). A lot of these datasets come with license agreements and citations which you will hopefully find within the relevant folders in txt or html files. PLEASE observe these licenses and obtain your own copy of the data when back on dry land if necessary.</p>
    </div>

    <div class="header">
        <h2>Ship data - a little more information</h2>
    </div>
    <div class="header">
        <h3>Meteorological data</h3>
        <p>The ship's meteorological data can be found here in daily text files. Each file contains a set of data that are recorded every 30 seconds, and another set that are recorded every 3 seconds. The headers are different so be aware if trying to parse the files. They will appear in the database very soon and other people on board have already parsed the files so please ask before doing it yourself if you want to save some time.</p>

        <h3>Navigation (GPS) data</h3>
        <p>Two sources of GPS data are being brought into this data area in daily files which are updated live. These data are already stored in the database and can be fed into some mapping software so you can see the position of the ship live. The data are collected with a 1-second resolution but the data management team can easily output this in a different resolution if required, just ask. Finally, at the end of each leg, a JPEG of the track and a CSV file with positions will be provided in the intranet documents section.</p>
        <p>We have an NMEA relay software: if you want to connect your mapping software (e.g. OpenCPN or others) let us know and we will provide the connection details.</p>
    </div>

{% endblock %}