{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/external/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static '/css/external/starter-template.css' %}" rel="stylesheet">

    <!-- This could be at the end of the body to be faster -->
    <script src="{% static '/js/external/jquery-3.js' %}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static '/js/external/popper.js' %}"></script>
    <script src="{% static '/js/external/bootstrap.js' %}"></script>

    <link href="{%static '/css/css2.css' %}" rel="stylesheet">

    {% block extra_head %}
    {% endblock %}
</head>
<body>
{% if not exporting %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

      <div class="collapse navbar-collapse justify-content-center" id="navbarsExampleDefault">
        <ul class="nav navbar-nav navbar-center">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/map">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ferrybox">Ferrybox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ship_time_to_utc/">Ship to UTC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sunset_sunrise/">Sunset/sunrise</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/position_from_date_time">Find location</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/coordinates_conversion">Coord conversion</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/accessing_data">Accessing data</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/documents">Documents</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/ethz_forecast_data/navitool_maxi_ace.html">ETHZ forecast</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="http://192.168.20.40">Mail</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/something">Something...</a>
              <a class="dropdown-item" href="/else">...else</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>


{% endif %}
<div class="container theme-showcase" role="main">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
