{% extends 'base.html' %}
{% block title %}Documents{% endblock %}

{% block content %}

<p>This is only a selection of documents to make them easier to access.</p>
<p>For ship_data, ace_data and photos see <a href="/accessing_data/">Accessing data</a> instructions or come
and visit us in the office.</p>
<p>Brief instructions (see <a href="/accessing_data/">Accessing data</a> for detailed instructions):</p>
<ul>
    <li>Windows: Click on start and run, then type: \\storage.lan</li>
    <li>Mac OS X: Go to Finder (on the Mac toolbar usually the left icon). Open the menu "Go" and then "Connect to server. Type smb://storage.lan</li></l>
</ul>

<h1>Table of contents:</h1>
<ul>
{% for topic in topics %}
    <li><a href="#{{topic}}">{{topic}}</a></li>
{% endfor %}
</ul>

{% regroup documents|dictsort:"topic_anchor_link" by topic_anchor_link as documents_list %}
{% for document in documents_list%}
<h1>{{ document.grouper | safe }}</h1>
<ul>
    {% for doc in document.list %}
      <li><a href="{{ doc.link }}">{{ doc.title }}</a></li>
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}