{% extends 'base.html' %}
{% block title %}Map{% endblock %}
{% load static %}
{% block extra_head %}
        <!-- Leaflet -->
        <script src="{% static '/js/external/leaflet.js' %}"></script>
        <script src="{% static '/js/external/proj4.js' %}"></script>
	    <script src="{% static '/js/external/proj4leaflet.js' %}"></script>

	    <link rel="stylesheet" href="{% static '/css/external/leaflet.css' %}"/>

        <!-- Our Antarctic map related code -->
        <script src="{% static '/js/antarctic_map.js' %}"></script>
		<script src="{% static '/js/main_map.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid fill">
    <div id="map">

    </div>
 </div>

	<script type="text/javascript">
		$(document).ready(function() {
		    STATIC_URL="{% static '/' %}";
			main();
		});

        $(window).on("resize", function () {
            $("#map").height($(window).height());
        }).trigger("resize");
	</script>
	<style>
        html, body, #container /*, and all other map parent selectors*/ {
          height: 100%;
          overflow: hidden;
          width: 100%;
        }
        #map {
          width: auto;
          height: 100%;
}	</style>
{% endblock %}
