{% extends 'base.html' %}
{% block title %}ACE Intranet Home{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Welcome to the ACE Intranet</h1>
    </div>
    Today (in UTC) is {{date}}. Julian day: {{julian_day}}<br>
    Time in UTC: {{time}} (<b>refresh</b> the page to update the time)<br>
    Latitude: {{position_latitude}} Longitude: {{position_longitude}} Current speed: {{speed_kts}} kts (updated: {{position_date_time}} UTC)<br>
    Depth: {{depth}} meters (updated {{depth_updated_seconds_ago}} seconds ago)
    </p>
<p>
    <div class="header">
        <h2>Announcements</h2>
    </div>

<div class="card">
      <div class="card-body">
    <pre>
From: {{person}}
To: The ACE expedition
Subject: {{subject}}
Date: {{date_time}}

{{message}}</pre></div></div>

    <p>
        <p>
    <b>Links:</b>
    <ul>
        <li><a href="/map">Map</a></li>
        <li><a href="/ferrybox">Ferrybox live</a></li>
        <li><a href="/ship_time_to_utc/">Ship to UTC</a></li>
        <li><a href="/sunset_sunrise/">Calculate sunset/sunrise</a></li>
        <li><a href="/position_from_date_time/">Find ship's location</a></li>
        <li><a href="/coordinates_conversion/">Coordinates conversion</a></li>
        <li><a href="/storage">Storage</a></li>
        <li><a href="/accessing_data">Accessing data</a></li>
        <li><a href="/documents">Documents on different topics</a></li>
        <li><a href="/ethz_forecast_data/navitool_maxi_ace.html">ETHZ forecast</a></li>
        <li><a href="/window">Virtual Window</a> (refreshed every 5 minutes and not overnight)</li>
        <li><a href="http://192.168.20.40">Mail</a></li>
        <li><a href="/admin">Admin</a> (e.g. to enter events)</li>
        {% if perms.main.can_add_station %}
        <li><a href="/import_ports_from_gpx/">Import ports from OpenCPN (or any GPX file)</a></li>
        {% endif %}
    </ul>
    <br>Have a good trip and research!</br>
{% endblock %}