{% load static %}
<!DOCTYPE html>
<html>
<head>
        <title>General map of ACE</title>

        <!-- Leaflet -->
        <script src="{% static '/js/external/leaflet.js' %}"></script>
        <script src="{% static '/js/external/proj4.js' %}"></script>
	    <script src="{% static '/js/external/proj4leaflet.js' %}"></script>
        
	    <link rel="stylesheet" href="{% static '/css/external/leaflet.css' %}"/>

        <!-- Jquery -->
        <link rel="stylesheet" href="{% static '/css/external/jquery-ui.css' %}" type="text/css"/>
        <script src="{% static '/js/external/jquery-1.12.0.min.js' %}"></script>

        <!-- Our Antarctic map related code -->
        <script src="{% static '/js/antarctic_map.js' %}"></script>
		<script src="{% static '/js/main_map.js' %}"></script>
</head>
<body>
	<div id="map"></div>

	<script type="text/javascript">
		$(document).ready(function() {
		    STATIC_URL="{% static '/' %}";
			main();
		});
	</script>
	<style>
    		html, body, #map {
			height: 100%;
			width: 100%;
		}
	</style>
</body>
</html>
