{% extends 'base.html' %}
{% block title %}Position from Date Time{% endblock %}
{% load static %}

{% block content %}
<b>{{message}}</b><p>
At {{ship_date_time}} UTC the ship was at:<p>
<b>Decimal degrees<br></b>
Latitude: {{latitude_decimal_degrees_single_location}}<br>
Longitude: {{longitude_decimal_degrees_single_location}}
<p>
<b>Degrees and decimal minutes<br></b>
Latitude: {{latitude_degrees_decimal_minutes_single_location}}<br>
Longitude: {{longitude_degrees_decimal_minutes_single_location}}
<p>
<b>Degrees, minutes and decimal seconds<br></b>
Latitude: {{latitude_degrees_minutes_decimal_seconds_single_location}}<br>
Longitude: {{longitude_degrees_minutes_decimal_seconds_single_location}}

<hr>

{% if list_of_locations %}
<table border="1">
    <tr>
        <td>
            <table class="table table-bordered">
                <thead> <th>Date time</th><th>Latitude</th><th>Longitude</th> </thead>
                {% for location in list_of_locations %}
                <tr>
                    <td>{{location.date_time}}</td> <td>{{ location.latitude_decimal_degrees }}</td> <td>{{ location.longitude_decimal_degrees }}</td>
                <tr>
                {% endfor %}
            </table>
        </td>
        <td>
            <table class="table table-bordered">
                <thead> <th>Date time</th><th>Latitude</th><th>Longitude</th> </thead>
                {% for location in list_of_locations %}
                <tr>
                    <td>{{location.date_time}}</td> <td>{{ location.latitude_degrees_minutes_decimal_seconds }}</td> <td>{{ location.longitude_degrees_minutes_decimal_seconds }}</td>
                <tr>
                {% endfor %}
            </table>
        </td>
        <td>
            <table class="table table-bordered">
                <thead> <th>Date time</th><th>Latitude</th><th>Longitude</th> </thead>
                {% for location in list_of_locations %}
                <tr>
                    <td>{{location.date_time}}</td> <td>{{ location.latitude_degrees_decimal_minutes }}</td> <td>{{ location.longitude_degrees_decimal_minutes }}</td>
                <tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
{% endif %}

    Enter another date:<p>
<form action="/position_from_date_time/" method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <input type="submit" value="Submit" />
</form>

{% endblock %}