{% extends 'base.html' %}
{% block title %}Sunset sunrise{% endblock %}
{% load static %}

{% block content %}
{{ error }}<br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <b><font color="red">TIMES IN UTC</font></b>
            <table border=1>
            <tr><td>Latitude</td><td>{{ latitude }}</td></tr>
            <tr><td>Longitude</td><td>{{ longitude }}</td></tr>
            <tr><td>Date</td><td>{{ date_parsed }}</td></tr>
            <tr><td>Dawn</td><td>{{ dawn_utc }}</td></tr>
            <tr><td>Sunrise</td><td>{{ sunrise_utc }}</td></tr>
            <tr><td>Sunset</td><td>{{ sunset_utc }}</td></tr>
            <tr><td>Dusk</td><td>{{ dusk_utc }}</td></tr>
            </table>
        </div>
        <div class="col-md-6">
            <b><font color="red">TIMES IN SHIP TIME</font></b>
            <table border=1>
            <tr><td>Latitude</td><td>{{ latitude }}</td></tr>
            <tr><td>Longitude</td><td>{{ longitude }}</td></tr>
            <tr><td>Date</td><td>{{ date_parsed }}</td></tr>
            <tr><td>Dawn</td><td>{{ dawn_ship_time }}</td></tr>
            <tr><td>Sunrise</td><td>{{ sunrise_ship_time }}</td></tr>
            <tr><td>Sunset</td><td>{{ sunset_ship_time }}</td></tr>
            <tr><td>Dusk</td><td>{{ dusk_ship_time }}</td></tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
