{% extends 'base.html' %}
{% block title %}Ferrybox{% endblock %}
{% load static %}
{% block extra_head %}
<script type="text/javascript" src="{% static '/js/external/Chart.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Latest ferrybox latest data</h1>
This is updated every 5 minutes.<p>

Date: {{ latest_information.date_time }}<br>
Salinity: {{ latest_information.salinity }}<br>
Conductivity: {{ latest_information.conductivity }}<br>
Temperature: {{ latest_information.temperature }}<br>

<canvas id="ferrybox" width="400" height="60"></canvas>
    <script>
function plot(canvas_name, data) {
    var canvas = document.getElementById(canvas_name);
    var chart = new Chart.Line(canvas, {
        type: 'line',
        data: data,
        options: {
            scales: {
                yAxes: [{
                    type: 'linear',
                    position: 'left',
                    id: "temperature"
                }, {
                    type: 'linear',
                    position: 'right',
                    id: "salinity"
                }],
                xAxes: [{
                    type: 'linear',
                    position: 'bottom'
                }]
            }
        }
    });
};

var data = {};
    var temperature = {
        data: [{x: -20, y: 5}, {x: -19, y: 8}, {x: -15, y: 6}],
        // data: {{ temperatures | escapejs }},
        label: "temperature",
        backgroundColor: "rgba(0,0,0,0)",
        units: "celsius",
        borderColor: "rgba(200, 200, 0, 1)",
        units: "C",
        yAxisID: "temperature"
    };

    var salinity = {
        data: [{x: -20, y: 30}, {x: -19, y: 28}, {x: -15, y: 12}],
        label: "salinity",
        backgroundColor: "rgba(0,0,0,0)",
        borderColor: "rgba(0, 200, 200, 1)",
        units: "salinity",
        yAxisID: "salinity"
    };

    var datasets = [temperature, salinity];

    data['datasets'] = datasets;

    plot("ferrybox", data);

</script>

{% endblock %}
