{% extends 'base.html' %}
{% block title %}Ferrybox{% endblock %}
{% load static %}
{% block extra_head %}
<script type="text/javascript" src="{% static '/js/external/Chart.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Latest ferrybox data</h1>
You can find the complete data set for analysis in the data <a href="/accessing_data">storage area</a> (ace_data/ferrybox).

This is updated every 5 minutes.<p>

Date: {{ latest_information.date_time }} ({{ latest_information_minutes_ago }} minutes ago)<br>
Salinity: {{ latest_information.salinity }}<br>
Temperature: {{ latest_information.temperature }}<br>
Fluorimeter: {{ latest_information.fluorimeter }}<br>

<canvas id="graph1" width="400" height="60"></canvas>
<center>(hours)</center>
<p></p>
<canvas id="graph2" width="400" height="60"></canvas>
<center>(hours)</center>
    <script>
function plot(canvas_name, data, yAxes) {
    var canvas = document.getElementById(canvas_name);
    var chart = new Chart.Line(canvas, {
        type: 'line',
        data: data,
        options: {
            scales: {
                yAxes: yAxes,
                xAxes: [{
                    type: 'linear',
                    position: 'bottom',
                }]
            }
        }
    });
};

var temperatures = JSON.parse('{{ temperatures | escapejs }}');
var salinities = JSON.parse('{{ salinities | escapejs }}')

var data_graph1 = {};
    var temperature = {
        data: temperatures,
        label: "temperature",
        borderColor: "rgba(200, 200, 0, 1)",
        fill: false,
        units: "C",
        yAxisID: "temperature",
        label: 'Temperature'
    };

    var salinity = {
        data: salinities,
        label: "salinity",
        borderColor: "rgba(0, 200, 200, 1)",
        fill: false,
        units: "salinity",
        yAxisID: "salinity",
        label: "Salinity"
    };

    var datasets = [temperature, salinity];

    data_graph1['datasets'] = datasets;
    var yAxes = [{
                    type: 'linear',
                    position: 'right',
                    id: "temperature",
                    fontColor: "rgba(0, 200, 200, 1)"
                }, {
                    type: 'linear',
                    position: 'right',
                    id: "salinity"
                }];

    plot("graph1", data_graph1, yAxes);

///////////////////////////////////////////////////////////////////////////////////////////
var fluorimeter = JSON.parse('{{ fluorimeter | escapejs }}')
var data_graph2 = {};
    var fluorimeter = {
        data: fluorimeter,
        label: "fluorimeter",
        borderColor: "rgba(200, 200, 0, 1)",
        fill: false,
        units: "C",
        yAxisID: "fluorimeter",
        label: "Fluorimeter"
    };

    var datasets = [fluorimeter];

    var yAxes = [{  type: 'linear',
                    position: 'right',
                    id: "fluorimeter"
                }];

    data_graph2['datasets'] = datasets;

    plot("graph2", data_graph2, yAxes);
</script>

{% endblock %}
