{% extends 'base.html' %}
{% block title %}Sunset sunrise{% endblock %}
{% load static %}

{% block content %}

{% load date_formatting %}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <b><font color="blue">TIMES IN UTC</font></b>
            <table border=1>
            <tr><td>Latitude</td><td>{{ latitude }}</td></tr>
            <tr><td>Longitude</td><td>{{ longitude }}</td></tr>
            <tr><td>Date</td><td>{{ date_parsed }}</td></tr>
            <tr><td>Dawn</td><td>{{ dawn }}</td></tr>
            <tr><td>Sunrise</td><td>{{ sunrise }}</td></tr>
            <tr><td>Sunset</td><td>{{ sunset }}</td></tr>
            <tr><td>Dusk</td><td>{{ dusk }}</td></tr>
            </table>
        </div>
        <div class="col-md-6">
            <b><font color="blue">TIMES IN SHIP TIME</font></b>
            <table border=1>
            <tr><td>Latitude</td><td>{{ latitude }}</td></tr>
            <tr><td>Longitude</td><td>{{ longitude }}</td></tr>
            <tr><td>Date</td><td>{{ date_parsed }}</td></tr>
            <tr><td>Dawn</td><td>{{ dawn|to_ship_timezone }}</td></tr>
            <tr><td>Sunrise</td><td>{{ sunrise|to_ship_timezone }}</td></tr>
            <tr><td>Sunset</td><td>{{ sunset|to_ship_timezone }}</td></tr>
            <tr><td>Dusk</td><td>{{ dusk|to_ship_timezone }}</td></tr>
            </table>
        </div>
    </div>
</div>
<hr>
<p>
New calculation:
<form action="/sunset_sunrise/" method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <input type="submit" value="Submit" />
</form>
{% endblock %}
