{% extends 'base.html' %}
{% block title %}List of metadata entries{% endblock %}
{% load static %}

{% block content %}
<h1>List of Contacts</h1>
<a href="/admin/main/contactdetails/add/">Add your name.</a>
<table class="table table-bordered">
    <thead><th>Name</th><th>Email</th><th>Others</th></thead>
{% for contact in contactdetails_list %}
    <tr><td><a href="/admin/main/contactdetails/{{contact.id}}/change/">(Edit)</a> {{ contact.name }}</td><td>{{ contact.email }}</td><td>{{ contact.other }}</td>
{% endfor %}
</table>
{% endblock %}
